<!-- Config file for the game -->

<config>
  <app framerate_cap="33">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <Player>
    <folder>Graphics/</folder>
    <sprite_sheet value = "Ninja.png"/>
    <initPosx value ="0"/>
    <initPosy value ="300"/>
    <gravity value ="11"/>
    <speed value ="20"/>
    <impulse value ="2"/>
  </Player>
  <scene>

    <map_name name="MaidInAbyss.tmx"/>

    <map_name name="DepthsOfTheAbyss.tmx"/>

    <fade_time value="1"/>

  </scene>
</config>